<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/navbar.css">
  </head>
  <body>
    <nav>
    <div class="wrapper">
        <div class="logo"><a href="#">Logo</a></div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
        <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Orders</a></li>
        <select id="category">
            <%- categories.map((category) => `<option value="${category.category}">${category.category}</option>`).join('') -%>
        </select>
        <li id="item-list"><a>Item List</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
    </nav>
    <div class="main">
        <ul class="cards">
            <%- items.map((item) => `<li class="cards_item">
                <div class="card">
                    <div class="card_image">
                    <img src="${item.image_url}" alt="Image of ${item.name}">
                    <span class="card_price"><span>$</span>${item.price_per_item}</span>
                    </div>
                    <div class="card_content">
                    <h2 class="card_title">${item.name}</h2>
                    <div class="card_text">
                        <div class="card_details">
                            <div>
                                Availablity: ${item.availablity}
                            </div>
                            <div>
                                <button id="${item.name} add" value="${item.item_id}"> + </button>
                                <div> QTY : </div><div id="${item.item_id} qty">0</div>
                                <button id="${item.name} sub" value="${item.item_id}"> - </button> 
                            </div>
                        </div>
                        <hr/>
                        <p>
                            ${item.description}
                        </p>
                    </div>
                    <div>
                        <button id="${item.name}" value="${item.item_id}">Add to list</button>
                    </div>
                </div>
            </li>`).join('') -%>
        </ul>
    </div>
    <script>
        let categorySelect = document.getElementById("category");
        let itemList= new Map();
        categorySelect.addEventListener("change", async (event) =>{
            let category = event.target.value;
            console.log("Selected category:", category);
            await fetch(`/menu/${category}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data.items);
                    let itemsContainer = document.getElementsByClassName("cards")[0];
                    
                    itemsContainer.innerHTML = data.items.map(item => `<li class="cards_item">
                    <div class="card">
                    <div class="card_image">
                    <img src="${item.image_url}" alt="Image of ${item.name}">
                    <span class="card_price"><span>$</span>${item.price_per_item}</span>
                    </div>
                    <div class="card_content">
                    <h2 class="card_title">${item.name}</h2>
                    <div class="card_text">
                        <div>
                            Availablity: ${item.availablity}
                        </div>
                        <div>
                            <button></button>
                            <div>QTY : 1</div>
                            <button></button> 
                        </div>
                        <hr/>
                        <p>
                            ${item.description}
                        </p>
                    </div>
                    </div>
                    <div>
                        <button id="${item.name}" value="${item.item_id}">Add to list</button>
                    </div>
                </div>
            </li>`).join('');
            createList(data.items);
            });
        });
        
        var itemsArray=JSON.parse(`<%- JSON.stringify(items) %>`);
        function createList(items){
            items.forEach(item => {
                console.log(item)
                let buttonList = document.getElementById(item.name);
                let buttonQtyAdd = document.getElementById(item.name + " add");
                let buttonQtySub = document.getElementById(item.name + " sub");
                console.log(buttonList)
                console.log(buttonList.value);
                if(itemList.has(buttonList.value)){
                    buttonList.innerHTML="Remove from list";
                }
                else{
                    buttonList.innerHTML="Add to list";
                }
                buttonList.addEventListener("click", () => {
                    let itemId = buttonList.value;
                    let itemQty = document.getElementById(itemId + " qty").innerHTML;
                    console.log(itemId, itemQty);
                    if (itemList.has(itemId)) {
                        buttonList.innerHTML="Add to list";
                        itemList.delete(itemId);
                    }
                    else {
                        if(itemQty!==0){
                            buttonList.innerHTML="Remove from list";
                            itemList.set(itemId, itemQty);
                        }
                        else{
                            alert("Quantity must be greater than 0");
                        }
                    }
                    console.log(itemList);    
                })
                buttonQtyAdd.addEventListener("click", () => {
                    let itemId = buttonQtyAdd.value;
                    let itemQty = document.getElementById(itemId + " qty").innerHTML;
                    itemQty++;
                    document.getElementById(itemId + " qty").innerHTML = itemQty;
                    if(itemList.has(itemId)){
                        itemList.set(itemId, itemQty);
                    }
                    console.log(itemList);
                })
                buttonQtySub.addEventListener("click", () => {
                    let itemId = buttonQtySub.value;
                    let itemQty = document.getElementById(itemId + " qty").innerHTML;
                    if(itemQty>0){
                        itemQty--;
                        document.getElementById(itemId + " qty").innerHTML = itemQty;
                        if(itemList.has(itemId)){
                            if(itemQty===0){
                                itemList.delete(itemId);
                                document.getElementById(item.name).innerHTML="Add to list";
                            }
                            else{
                                itemList.set(itemId, itemQty);
                            }
                        }
                        console.log(itemList);
                    }
                })
            }) 
        }
        let itemLink = document.getElementById("item-list");
        console.log(itemLink);
        function mapToJson(map) {
            const jsonObj = {};
            for (const [key, value] of map) {
                if (value instanceof Map) {
                    jsonObj[key] = mapToJson(value); 
                } else {
                    jsonObj[key] = value;
                }
            }
            return JSON.stringify(jsonObj);
        }
        itemLink.addEventListener("click",() => { 
            const itemListObj = mapToJson(itemList);
            console.log(itemListObj);
            document.location.href = `/menu/itemList/${itemListObj}`
        });
        createList(itemsArray);
    </script>
  </body>
</html>
