body {
  font-family: "Oxygen", sans-serif;
  color: #050505;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.item-wrapper{
  display: flex;
  position: relative;
  justify-content: space-around;
}

.item-wrapper div{
  display:inline;
}