body {
	margin: 0;
	color: #735008;
	font: 600 1rem/1.5rem 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*,
:after,
:before {
	box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
	display: block;
}
a {
	color: inherit;
	text-decoration: none;
}

.login-wrap {
	width: 100%;
	margin: auto;
	max-width: 32.8rem;
	min-height: 41.875rem;
	position: relative;
	box-shadow: 0 0.75rem 0.9375rem 0 rgba(0, 0, 0, 0.24),
		0 1.0625rem 3.125rem 0 rgba(0, 0, 0, 0.19);
}
.login-html {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 5.625rem 4.375rem 3.125rem 4.375rem;
	background-color: #c89b3f;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
	display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
	text-transform: uppercase;
}
.login-html .tab {
	font-size: 1.375rem;
	margin-right: 0.9375rem;
	padding-bottom: 0.3125rem;
	margin: 0 0.9375rem 0.625rem 0;
	display: inline-block;
	border-bottom: 0.125rem solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
	color: #fff;
	border-color: #c89b3f;
}
.login-form {
	min-height: 21.5625rem;
	position: relative;
	perspective: 62.5rem;
	transform-style: preserve-3d;
}
.login-form .group {
	margin-bottom: 0.9375rem;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
	width: 100%;
	color: #fff;
	display: block;
}
.login-form .group .input,
.login-form .group .button {
	border: none;
	padding: 0.9375rem 1.25rem;
	border-radius: 1.5625rem;
	background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type='password'] {
	-webkit-text-security: circle;
}
.login-form .group .label {
	color: #fcf4e3;
	font-size: 0.875rem;
}
.login-form .group .button {
	background: #966c18;
}

.login-form .group .check:checked + label {
	color: #fff;
}
.login-form .group .check:checked + label .icon {
	background: #edc87d;
}
.login-form .group .check:checked + label .icon:before {
	transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
	transform: scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
	transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
	transform: rotate(0);
}

.hr {
	height: 0.125rem;
	margin: 3.75rem 0 3.125rem 0;
	background: rgba(255, 255, 255, 0.2);
}
