body {
  font-family: "Oxygen", sans-serif;
  color: #050505;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main {
  max-width: 75rem;
  margin: 5.625rem auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  position: relative;
  height: 18.75rem;
  width: 100%;
  overflow: hidden;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_price {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 1.125rem;
  font-weight: 700;
}

.card_price span {
  font-size: 0.75rem;
  margin-top: -0.125rem;
}

.card_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_details div {
  display: inline;
}

.note {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #c89b3f;
  font-size: 0.875rem;
  font-weight: 700;
}

@media (min-width: 320px) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width:448px) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1.25rem 2.5rem -0.875rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  position: relative;
  padding: 1rem 0.75rem 2rem 1.5rem;
  margin: 1rem 0.5rem 0.5rem 0;
  max-height: 18.125rem;
  overflow-y: scroll;
}

.card_content::-webkit-scrollbar {
  width: 0.5rem;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #c89b3f;
  border-radius: 0.9375rem;
}

.card_title {
  position: relative;
  margin: 0 0 1.5rem;
  padding-bottom: 0.625rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.card_title::after {
  position: absolute;
  display: block;
  width: 3.125rem;
  height: 0.125rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c89b3f;
  content: "";
}

hr {
  margin: 1.5rem auto;
  width: 3.125rem;
  border-top: 0.125rem solid #c89b3f;
}

.card_text p {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.card_text p:last-child {
  margin: 0;
}
